*,
::after,
::before {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background: rgb(164, 133, 236);
}
